{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}


{% block body %}
    <h1>Edit Page</h1>

    <form action="{% url 'save_edit' %}" method="POST">
        {% csrf_token %} <!-- CSRF token is added -->
    
        
        <!-- Title -->
        <div class="form-row">
            <label for="title">Entry Title:</label>
            <input type="text" id="title" name="title" class="form-title readonly" value="{{ title }}" readonly> <!-- Prevent edits on title -->
        </div>

        <!-- Content -->
        <div class="form-row">
            <label for="content">Entry Content:</label>
            <textarea id="content" name="content" class="form-content" rows="15">{{ content }}</textarea>
        </div>
    
        <!-- Submit button -->
        <input type="submit" value="Confirm" class="btn submit">
    </form>
    

    
    
{% endblock %}