{% extends "auctions/layout.html" %}

{% block body %}

    <div class="container category-box">
        <h3>Categories</h3>

        {% for category in categories %}
            <a href="{% url 'category' category.type %}">{{ category }}</a> <br>
        {% endfor %}

        <a href="{% url 'index' %}">All</a>
    </div>

    <div class="container listing-box">
        <h2>{{ title }}</h2>
    
        <div class="row">
            {% for listing in listings %}
            <div class="card mb-4 mr-3" style="width: 14rem;">
                <img class="card-img-top img-standard" alt="Image of {{ listing.title }}" src="{{ listing.image }}">
                <div class="card-body">
                    <h5 class="card-title">{{ listing.title }}</h5>
                    <p class="card-text">{{ listing.description }}</p>
                    <a href="{% url 'listing' listing.id %}" class="btn btn-primary">View Listing</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    

{% endblock %}